<%= form_with model: @contact, class: 'contact100-form validate-form' do |form| %>
  <span class="contact100-form-title">
    <%= I18n.t(:form_title, scope: :contact) %>
  </span>

  <%= form.label :first_name, I18n.t(:name, scope: :contact), class: 'label-input100' %>
  <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
    <%= form.text_field :first_name, class: 'input100', placeholder: 'First name' %>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
    <%= form.text_field :last_name, class: 'input100', placeholder: 'Last name' %>
    <span class="focus-input100"></span>
  </div>

  <%= form.label :email, I18n.t(:email, scope: :contact), class: 'label-input100' %>
  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
    <%= form.email_field :email, class: 'input100', placeholder: 'Eg. example@email.com' %>
    <span class="focus-input100"></span>
  </div>

  <%= form.label :phone, I18n.t(:phone, scope: :contact), class: 'label-input100' %>
  <div class="wrap-input100">
    <%= form.phone_field :phone, class: 'input100', placeholder: 'Eg. +1 800 000000' %>
    <span class="focus-input100"></span>
  </div>

  <%= form.label :message, I18n.t(:message, scope: :contact), class: 'label-input100' %>
  <div class="wrap-input100 validate-input" data-validate = "Message is required">
    <%= form.text_area :message, class: 'input100', placeholder: 'Write us a message' %>
    <span class="focus-input100"></span>
  </div>

  <div class="container-contact100-form-btn">
    <%= form.submit I18n.t(:send_message, scope: :contact), class: 'contact100-form-btn' %>
  </div>
<% end %>
